.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-tabs {
    position: absolute;
    padding: 15px;
    background: var(--background);
    border-radius: 15px;
    text-align: center;
    min-width: 40%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-text {
    font-size: 1.3rem;
}

.connect,
.cancel {
    background: none;
    color: var(--color);
    border: solid 4px var(--element-color);
    border-radius: 10px;
    padding: 0.3rem 4rem;
    font-size: inherit;
    font-weight: bold;
    margin: 15px 10px;
}

.input-login .email,
.input-login .password,
.A2F {
    color: var(--color);
    background: none;
    border: solid 2px var(--element-color);
    border-radius: 30px;
    width: 50%;
    padding: 0.4rem 1rem;
    margin-top: 10px;
}

.input-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mybtn {
    padding: 10px 40px;
    font-size: 10px;
    background-color: #333;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: .8rem 1.5rem;
    text-decoration: none;
    font-weight: 900;
    transition: all 0.7s cubic-bezier(0, .8, .26, .99);
}

.mybtn:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transition: .7s cubic-bezier(0, .8, .26, .99);
    z-index: -1;
    background-color: #333 !important;
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.mybtn:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: .7s cubic-bezier(0, .8, .26, .99);
}

.mybtn:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.mybtn:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

.mybtn:active {
    transform: translateY(4px);
}

.mybtn:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

.myinput {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    background-color: rgb(28, 28, 30);
    box-shadow: 0 0 .4vw rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 190px;
    transition: .4s;
}

.myinput:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.myinput:focus {
    box-shadow: 0 0 0 .15vw skyblue;
}